.loader-screen {
  position: fixed;
  background-color: var(--discord-color);
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 75px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: var(--spotify-green);
  animation: animate 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: animate 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes animate {
  100% {
    transform: rotate(1turn);
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  background-color: #0d0d14;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  z-index: 1;
  width: 100%;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3d3f50;
}

.progress-bar {
  height: 3px;
  background-color: var(--progress-bar-color);
  width: var(--progress-bar-width);
}

.title {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  text-overflow: ellipsis;
}

.artist {
  font-size: 13px;
  color: #737994;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 85px;
  padding-right: 85px;
  text-overflow: ellipsis;
}

.content {
  position: sticky;
  line-height: 1.6;
  overflow-y: auto;
  padding-top: 80px;
  padding-bottom: 100px;
}

p.lyrics {
  font-family: "SpotifyMix-Medium", sans-serif;
  font-size: 28px;
  position: sticky;
  color: var(--lyrics-color);
}

.content p {
  margin: 0;
  text-align: center;
}

.bottom-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #0d0d14;
  overflow-x: hidden;
}

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--spotify-green);
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-tap-highlight-color: transparent;
}

.control-button:active {
  background-color: #1aa34a;
}

.disabled {
  pointer-events: none;
  background-color: #333;
  color: #fff;
}

.count-container {
  width: 80px;
  text-align: center;
}

.count {
  font-size: 20px;
}