.loader-screen {
  position: fixed;
  background-color: var(--discord-color);
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 75px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: var(--green);
  animation: animate 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: animate 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes animate {
  100% {
    transform: rotate(1turn);
  }
}

.sticky-header {
  height: 100px;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--background-color) 0%,
    var(--background-color) 70%,
    var(--background-color-transparent) 100%
  );
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3d3f50;
}

.progress-bar {
  height: 3px;
  background-color: var(--progress-bar-color);
  width: var(--progress-bar-width);
}

.title {
  font-size: 15px;
  font-family: "SpotifyMix-Bold", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  /*h*/margin-top: 15px;
  /*h*/margin-left: 30px;
  /*h*/margin-right: 30px;
  text-overflow: ellipsis;
}

.artists {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  /*h*/margin-top: 3px;
  /*h*/margin-left: 85px;
  /*h*/margin-right: 85px;
  text-overflow: ellipsis;
}

.content {
  width: 100%;
  position: sticky;
  line-height: 1.6;
  overflow-y: auto;
  /*h*/margin-top: 100px;
  /*h*/margin-bottom: 100px;
  /*h*/margin-left: 10px;
  /*h*/margin-right: 10px;
}

.lyrics,
.lyrics > * {
  transition: 0.2s;
}

p.lyrics {
  font-family: "SpotifyMix-Medium", sans-serif;
  font-size: 28px;
  color: var(--lyrics-color);
  /*h*/margin-bottom: 14px;
}

.content p {
  margin: 0;
  text-align: center;
}

.bottom-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 10px;
  background-color: #0d0d14;
  overflow-x: hidden;
}

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 7px;
  margin-right: 7px;
  transition: 0.3s;
}

.control-button:hover {
  background-color: var(--button-hover);
}

.disabled {
  pointer-events: none;
  background-color: #333;
  color: #fff;
}

.count-container {
  width: 70px;
  text-align: center;
}

.count {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .content p {
    text-align: left;
  }
}
