body {
  overflow: hidden;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 0;
  border-radius: 50%;
  margin: 5px;
}

.loader-screen {
  position: fixed;
  display: flex;
  background-color: var(--discord-color);
  width: 100%;
  height: 100vh;
  z-index: 100;
  justify-content: center;
  align-items: center;
  animation: load 1.5s infinite;
}

.loader-screen > .dot {
  background-color: var(--text-color);
  width: 20px;
  height: 20px;
}

@keyframes load {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.5);
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.progress-bar {
  height: 3px;
  background-color: var(--progress-bar-color);
  width: 0;
  border-radius: 3px;
}

.title {
  font-size: 15px;
  font-family: "SpotifyMix-Bold", system-ui;
  white-space: nowrap;
  overflow: hidden;
  margin: 12px 30px 0 30px;
  text-overflow: ellipsis;
}

.artists {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  margin: 3px 85px 12px 85px;
  text-overflow: ellipsis;
}

.content-container {
  position: fixed;
  top: 65px;
  width: 100%;
  max-height: calc(100% - (65px + 53px));
  overflow: hidden scroll;
}

.content {
  height: 100%;
  font-family: "SpotifyMix-Bold", system-ui;
  font-size: 32px;
  color: var(--lyrics-color);
  margin: 0 0 0 10px;
}

p.translated {
  font-family: "SpotifyMix", system-ui;
  font-size: 18px;
  color: var(--translated-color);
  transition: none;
}

.active > .highlight {
  text-shadow: 0 0 15px rgba(var(--highlight-color), 0.8);
}

p.highlight,
span.highlight,
p.status {
  color: rgb(var(--highlight-color), 0.75) !important;
}

.highlight > .dot {
  background-color: rgb(var(--highlight-color), 0.75) !important;
}

p.dot {
  background-color: var(--lyrics-color);
}

span.highlight:has(span.dot.active) {
  display: inline-block;
  animation: zoom-out 5s infinite;
}

@keyframes zoom-out {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.dot.active {
  transition: opacity var(--dot-delay) linear;
  opacity: 0.2;
}

.lyrics,
.lyrics span {
  padding: 8px 0 8px 0;
}

.lyrics:not(:has(.dot)) {
  cursor: pointer;
  user-select: text;
}

.lyrics {
  margin-bottom: 14px;
}

.lyrics:nth-child(1) {
  margin-top: 30px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar:hover {
  background-color: rgba(45, 45, 45, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.content p {
  margin: 0;
  text-align: center;
}

.source {
  font-family: "SpotifyMix", system-ui;
  color: var(--text-color);
  font-size: 17px;
  margin: 80px 0 10px 0 !important;
  text-align: center !important;
}

.bottom-container {
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 0;
  background-color: var(--background-color);
  padding-top: 13px;
  padding-bottom: 10px;
  z-index: 2;
}

.bottom {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  padding-top: inherit;
  padding-bottom: inherit;
  z-index: 3;
}

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px 0 7px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.count-container {
  width: 70px;
  text-align: center;
}

.count {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .content {
    font-size: 30px;
  }
}
