@font-face {
  font-family: "SpotifyMix";
  src: url("/fonts/SpotifyMix-Regular.woff");
}
@font-face {
  font-family: "SpotifyMix-Medium";
  src: url("/fonts/SpotifyMix-Medium.woff");
}
@font-face {
  font-family: "SpotifyMix-Bold";
  src: url("/fonts/SpotifyMix-Bold.woff");
}

body {
  font-family: "SpotifyMix", sans-serif;
  background-color: #1e1e2e;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader-screen {
  position: absolute;
  background-color: #2b2d31;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 75px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #1db954;
  animation: animate 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: animate 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes animate {
  100% {
    transform: rotate(1turn);
  }
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #0d0d14;
  text-align: center;
  padding: 10px 0;
  z-index: 1;
  width: 100%;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3d3f50;
}

.progress-bar {
  height: 3px;
  background-color: #427e9d;
  width: 0%;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.artist {
  font-size: 13px;
  color: #888;
}

.content {
  padding: 20px;
  line-height: 1.6;
  overflow-y: auto;
  padding-top: 60px;
}

p.lyrics {
  font-family: "SpotifyMix-Medium", sans-serif;
  font-size: 30px;
  color: #546254;
}

p.highlight {
  font-family: "SpotifyMix-Bold", sans-serif;
  color: #1db954;
}

p.bold {
  font-family: "SpotifyMix-Bold", sans-serif;
  color: #fff;
}

span.highlight {
  color: #1db954;
  transition: 0.3s;
}

.content p {
  margin: 0;
  text-align: center;
  transition: all 0.3s ease;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
