@font-face {
  font-family: "SpotifyMix";
  src: url("/fonts/SpotifyMix-Regular.woff");
}
@font-face {
  font-family: "SpotifyMix-Bold";
  src: url("/fonts/SpotifyMix-Bold.woff");
}

body {
  font-family: "SpotifyMix", sans-serif;
  background-color: #1e1e2e;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #0d0d14;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
  width: 100%;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3d3f50;
}

.progress-bar {
  height: 3px;
  background-color: #427e9d;
  width: 0%;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.artist {
  font-size: 13px;
  color: #888;
}

.content {
  padding: 20px;
  line-height: 1.6;
  overflow-y: auto;
  padding-top: 60px;
}

p.lyrics {
  font-family: "SpotifyMix-Bold", sans-serif;
  font-size: 30px;
  color: #788b78;
}

p.highlight {
  color: #1db954;
  font-size: 33px;
}

.content p {
  margin: 0;
  text-align: center;
  transition: all 0.3s ease;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
