@font-face {
  font-family: "SpotifyMix";
  src: url("/fonts/SpotifyMix-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SpotifyMix-Medium";
  src: url("/fonts/SpotifyMix-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SpotifyMix-Bold";
  src: url("/fonts/SpotifyMix-Bold.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "SpotifyMix", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  transition: background-color 0.2s, color 0.3s, text-shadow 0.3s,
    transform 0.3s;
}

img {
  width: 1em;
  height: 1em;
}

a {
  color: var(--text-color);
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline !important;
}

.popup-msg {
  display: none;
  font-family: "SpotifyMix", sans-serif;
  font-size: 16px;
  color: #181825;
  background-color: #cdd6f4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 12px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  max-width: 450px;
  border-radius: 6px;
  text-align: center;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.animatePopup {
  display: flex !important;
  animation: animatePopup 2.5s;
}

@keyframes animatePopup {
  0%,
  100% {
    bottom: -50px;
  }
  20%,
  80% {
    bottom: 70px;
  }
}

[hidden] {
  display: none !important;
}
