@font-face {
  font-family: "SpotifyMix";
  src: url("/fonts/SpotifyMix-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "SpotifyMix-Medium";
  src: url("/fonts/SpotifyMix-Medium.woff");
  font-display: swap;
}

@font-face {
  font-family: "SpotifyMix-Bold";
  src: url("/fonts/SpotifyMix-Bold.woff");
  font-display: swap;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-family: "SpotifyMix", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
  min-height: 100%;
  margin: 0;
}

svg {
  width: 1em;
  height: 1em;
}

a {
  color: var(--text-color);
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline !important;
}

p.translated {
  font-family: "SpotifyMix", sans-serif;
  font-size: 18px;
  color: var(--translated-color);
}

p.highlight {
  color: var(--highlight-color) !important;
}

span.highlight {
  color: var(--highlight-color) !important;
}
