body {
  --green: #00ff59;
  --button-dim: #1aa34a;
  --discord-color: #2b2d31;
  --text-color: #c6d0f5;

  --background-color: #4c4f69;
  --highlight-color: 255, 255, 255;
  --lyrics-color: rgba(255, 255, 255, 0.25);
  --translated-color: #f5e0dc;
}

.popup-msg {
  --level-success: #a6e3a1;
  --level-error: #f38ba8;
  --level-warning: #fab387;
  --level-info: #89b4fa;
}
